.home {
    position: relative;
    row-gap: 5rem;
    padding: 4rem 0 5rem;
  }
  .home__data {
    align-self: center;
  }
  .home__title {
    font-size: var(--big-font-size);
    margin-bottom: var(--mb-5);
  }
  .home__title-color {
    color: var(--first-color);
  }
  .home__social {
    display: flex;
    flex-direction: column;
  }
  .home__social-icon {
    width: max-content;
    margin-bottom: var(-- --mb-2);
    font-size: 2rem;
    color: var(--second-color);
  }
  .home__social-icon:hover {
    color: var(--first-color);
  }
  .home__img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 260px;
  }
  .home__blob {
    fill: var(--first-color);
  }
  .home__blob-img {
    width: 360px;
  }
.footer {
    background-color: var(--second-color);
    color: #00ff2a;
    text-align: bottom;
    font-weight: var(--font-semi);
    padding: 2rem 0;
  }
  .footer__title {
    font-size: 2rem;
    margin-bottom: var(--mb-4);
  }
  .footer__social {
    margin-bottom: var(--mb-4);
  }
  .footer__icon {
    font-size: 3rem;
    color: #00ff00;
    margin: 0 var(--mb-2);
  }
  .footer__copy {
    font-size: var(--smaller-font-size);
  }
  